  <div id="menu">
    <a id="home" href="/">Home</a>
    <a id="addNew" href="/movies/add-movie">Add a new Movie</a>
    <a id="viewAll" href="/movies">View All Movies</a>
    
    {{! <label for="cars">Choose a Genre:</label>
    <select name="movies" id="genre">
        <option value="action">Action</option>
        <option value="comedy">Comedy</option>
        <option value="drama">Drama</option>
        <option value="fantasy">Fantasy</option>
        <option value="horror">Horror</option>
        <option value="mystery">Mystery</option>
        <option value="romance">Romance</option>
        <option value="thriller">Thriller</option>
    </select> }}
    <a id="update" href="/movies/update-movie">Update Movie</a>
  </div>