  <div id="menu">
    <a id="home" href="/">Home</a>
    <a id="addNew" href="/movies/add-movie">Add a new Movie</a>
    <a id="viewAll" href="/movies">View All Movies</a>
    <a id="update" href="/movies/update-movie">Update Movie</a>
    <a id="signout" href="/">Sign Out</a>
  </div>